.content {
  max-height: 400px;
  background-color: var(--white-color);
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.content_title {
  color: var(--text-grey-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0px 20px;
}

.content_card {
  max-height: 280px;
  overflow-y: auto;
  padding: 0 20px;
}

.card {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 16px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
}

.card_grey_mode {
  composes: card;
  background-color: var(--bg-light-color);
}

.card_disable {
  composes: card;
  color: var(--text-grey-color);
}

.user_name {
  width: 20%;
}

@media (max-width: 750px) {
  .card {
    flex-direction: column;
  }

  .user_name {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .content {
    max-height: 100%;
  }
}
