.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.closeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-color);
}

.closeIcon {
  font-size: 30px;
}
