.settings {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: var(--text-grey-color);
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
