.user {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: var(--text-grey-color);
  display: flex;
  align-items: center;
}

.user_avatar {
  width: 43px;
  height: 43px;
  border-radius: 9999px;
  object-fit: cover;
}
