.loader {
  padding: 34px 0;
}

.grid_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.card {
  height: 70vh;
  overflow-y: auto;
  padding-right: 20px;
  margin-top: 20px;
}

.title {
  font-weight: 700;
  color: var(--text-grey-color);
  text-transform: uppercase;
}

.message {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-grey-color);
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .grid_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
